/* menu script */
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Rancho&display=swap');

/* header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background:  #252E40;
  color: #f5f5f5 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  font-family: 'Rancho', cursive;
  border-bottom: solid 4px #E96252;
}

#logo {
  text-decoration: none;
  color: #f9f8fd;
  font-size: 40px;
  margin-left: 50px;
  padding: 5px;
  font-weight: bold;
  font-family: 'Rancho', cursive;
  border: solid 2px #f9f8fd;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 69% 31% 34% 66% / 74% 18% 82% 26%;
  animation: logoAnime 6s infinite;
}

#logo:hover {
    background: #f9f8fd;
    color: #252E40;
    border: solid 2px #f9f8fd;
    border-radius: 49% 81% 14% 86% / 74% 58% 92% 26%;
}

/* animation for logo */
@keyframes logoAnime {
    25% {
        border-radius: 31% 69% 14% 86% / 85% 16% 84% 15%;
    }
    50% {
        border-radius: 49% 81% 14% 86% / 74% 58% 92% 26%;
    }
    75% {
       border-radius: 69% 31% 34% 66% / 74% 18% 82% 26%;
    }
}

/* menu buttons */
header ul li a{
  text-decoration: none;
  color: #f9f8fd;
  padding: 10px 20px;
  margin: 10px;
  border-top: solid 2px #f9f8fd;
  border-bottom: solid 2px #f9f8fd;
  font-size: 22px;
  font-family: 'Rancho', cursive;
}

#menu {
  display: flex;
  margin-left: 50px;
}

#menu li {
  list-style: none;
  color: #f9f8fd;
  display: inline-block;
  position: relative;
}

#menu li a:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  width: 0;
  height: 10%;
  background:#BFB45C;
  transition: all .35s;
}

#menu li a span{
  position: relative;
  z-index: 2;
}

#menu li a:hover:after{
  width: 100%;
  animation: buttons 2s;
  animation-fill-mode: forwards;
}

#menu li a:hover span{
    color:#252E40;
}

@keyframes buttons{
    100%{
        height: 100%;
    }
}

/* iPad screen size adjustments */
@media only screen and (max-width: 1024px) {
  header ul li a{
    margin: 5px;
    font-size: 16px;
    }
}

/* phone screen size adjustments */
@media only screen and (max-width: 764px) {
  header {
    height: 60px;
  }

  #logo {
    font-size: 25px;
    margin-left: 40px;
    height: 45px;
    width: 45px;
  }

  header ul li a{
    padding: 7px 10px;
    margin: 3px;
    font-size: 14px;
    }
}